@font-face {
  font-family: "Josefin Sans";
  src: url("components/files/font.woff2");
}

/*CSS в Реакте не хочет грузить бэкграунд из public, ругается на это. Поэтому добавил в src/components, оттуда грузит нормально*/
* {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url(components/files/Background.jpg);
  background-repeat: repeat;
  color: rgb(66, 66, 66);
}

/****Navbar****/

.navbar {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
}

.navbar a {
  display: inline-block;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
}

.navbar a:hover {
  font-weight: bold;
}

/***Footer***/
.Footer {
  position: absolute;
  left: 50%;
  bottom: 1px;
  transform: translate(-50%, -50%);
  text-align: center;
  border: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer p {
  margin-bottom: 1em;
}

.row-container {
  transform: translate(0%, 65%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail {
  box-shadow: rgba(8, 5, 29, 0.86) 1px 1px 4px;
  border-radius: 0.8em;
  height: 180px;
  width: 300px;
  margin: 15px;
}

.thumbnail:hover {
  transform: scale(0.98);
}
.thumbnail:active {
  transform: scale(0.96);
}

.view__container {
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  margin: 0 auto;
  border-radius: 2em;
}

.view__image {
  box-shadow: rgba(8, 5, 29, 0.64) 1px 1px 5px;
  text-decoration: none;
  height: 100%;
  width: 100%;
  border-radius: 1.5em;
}
.view__image:active {
  transform: scale(0.98);
}

.row-container {
  width: 100%;
}

